.*.swp
.DS_Store
*target*
*.jar
*.ear
*.class
classes/
.svn
.classes
.project
.classpath
.settings/
.metadata
bin
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/**
tartget/**
git.properties
*.iml
.idea
version.txt
git.commit.id.txt
*.versionsBackup